{
  "Configuration": {
    "Magic": 7630402,
    "Version": 0,
    "SeedList": [
      "127.0.0.1:20338"
    ],
    "NodePort": 10338,
    "PrintLevel": 1,
    "SpvPrintLevel": 4,
    "HttpJsonPort": 10010,
    "MainNode": {
      "Rpc": {
        "IpAddress": "localhost",
        "HttpJsonPort": 10038
      },
    "SpvSeedList": [
      "127.0.0.1:20866"
    ],
    "Magic": 7630401,
    "MinOutbound": 1,
    "MaxConnections": 3
    },
    "SideNodeList": [
      {
        "Rpc": {
          "IpAddress": "localhost",
          "HttpJsonPort": 20038
        },
        "Rate": 1.0,
        "GenesisBlockAddress": "XFjTcbZ9sN8CAmUhNTjf67AFFC3RBYoCRB",
      },
      {
        "Rpc": {
          "IpAddress": "localhost",
          "HttpJsonPort": 30038
        },
        "Rate": 1.0,
        "GenesisBlockAddress": "XH6gHwZC1yKaRRx62tzvWu5oxa3hekEgXp",
        "KeystoreFile":"keystore.dat"
      }
    ],
    "SyncInterval": 10000,
    "SideChainMonitorScanInterval": 1000,
    "MinReceivedUsedUtxoMsgNumber": 1,
    "MinOutbound": 3,
    "MaxConnections": 8
  }
}
