name: Go
on: [push, pull_request]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ["1.20"]
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Set up Go ${{ matrix.go }}
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}
        cache-dependency-path: go.sum
      id: go

    - name: Get dependencies
      run: go get -v -t -d ./...

    - name: Test
      run: |
        cp config.json.sample examples/config.json
        go test `go list ./... | grep -v benchmark` -short

    - name: Check code quality
      run: |
        export GOROOT=$(go env GOROOT)
        export GOPATH=$(go env GOPATH)
        export PATH=$GOROOT/bin:$GOPATH/bin:$PATH
        which go
        go version
        wget -nv https://github.com/mgechev/revive/releases/download/v1.2.1/revive_1.2.1_Linux_x86_64.tar.gz
        tar xf revive_1.2.1_Linux_x86_64.tar.gz -C /tmp
        /tmp/revive -config .revive.toml -formatter friendly -exclude vendor/... $(go list ./...)

    - name: Make
      run: make all

    - name : Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: arbiter-ubuntu
        path: arbiter
